<div class="container">
  <h4 class="page-heading"><%= @user.name %>さんのフォロワー一覧</h4></h4>
  <% if @users.exists? %>
    <%= render 'users/index', users: @users %>
    <%= paginate @users %>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
</div>