<div class="container-fluid">
  <h1 class="page-heading"><%= @user.nickname %> さんとのChats</h1>
  <div class="message">
    <%= render 'chat', chats: @chats, chat: @chat, user: @user %> 
  </div>
</div>