 <div class="container pt-5 pb-5">
    <h2 class="top-heading">About</h2>
    <div class="contact-group mt-5">
      <div class="row">
        <div class="left-content col-md-4 align-self-center">
          <div class="about-image">
            <%= image_tag 'about.jpg', style: "object-fit: cover;", class: "about-image img-responsive" %>
          </div>
        </div>
        <div class="right-content col-md-8 align-self-center">
          <ul class="heading-text">
            <li class="list-unstyled mt-3">Campistは、キャンプでのあらゆる"コーディネート"を楽しむSNSです。</li>
            <li class="list-unstyled mt-3">多くの人のコーディネイトを参考にして、よりキャンプを楽しもう！</li>
            <li class="list-unstyled mt-3">自分のコーディネイトの記録としても活用でき、誰かの参考になれるかも？</li>
          </ul>
        </div>
      </div>
    </div>
  </div>