<div class="container pt-5 pb-5">
  <div class="text-center">
    <h2 class="top-heading">どんなサービス？</h2>
  </div>
  <p class="heading-text text-center  mt-5">"Campist"には多くの機能がありますが、どう活用していくかはユーザー次第です。<br>みんなで色々な使い方を見いだして、campをより楽しいものにしていきたいという願いを込めて作りました！</p>
  <div class="row feature-group pt-3">
    <div class="feature col-md-4">
      <div class="geature-title text-center">
        <i class="fas fa-users fa-3x"></i>
        <h3 class="feature-title">繋がる</h3>
      </div>
      <p class="feature-text">自分の"好き"に近い人と繋がることができます。お互いの楽しみ方を真似して、更なるキャプの楽しみ方を知ろう！</p>
    </div>
    <div class="feature col-md-4">
      <div class="geature-title text-center">
        <i class="fas fa-comments fa-3x"></i>
        <h3 class="feature-title">コメント</h3>
      </div>
      <p class="feature-text">良いと思ったコーデディネートにはコメントをして感想を残そう！</p>
    </div>
    <div class="feature col-md-4">
      <div class="geature-title text-center">
        <i class="fas fa-handshake fa-3x"></i>
        <h3 class="feature-title">共有する</h3>
      </div>
      <p class="feature-text">自分のコーディネートを投稿しよう！思い出として残しておくことも、誰かと共有することもできます！</p>
    </div>
  </div>
</div>