<div class="container-fluid p-5">
  <div class="posts_search">
    <% if @posts.empty? %>
      <h4 class="page-heading">"<%= @content %>"　に関する投稿はありません</h4>
    <% else %>
      <h4 class="page-heading">"<%= @content %>" に関する投稿<span>（全 <%= @post_count %> 件)</span></h4>
      <div class="row">
        <%= render 'posts/feeds', posts: @posts %>
      </div>
    <% end %>
  </div>
</div>