<div class="container-fluid p-5">
  <h4 class="page-heading">よく使われるタグ</h4>
  <div class="row p-4">
    <%= render 'layouts/tag_list', tag_list: @tag_list %>
  </div>
  <h4 class="page-heading">みんなの新着</h4>
  <div class="row feeds-index">
    <%= render 'feeds', posts: @posts %>
  </div>
</div>