<div class="container-fluid p-2">
  <div class="row p-4">
    <%= render 'layouts/tag_list', tag_list: @tag_list %>
  </div>
  <h4 class="page-heading">全ユーザーの新着</h4>
  <div class="row feeds-index">
    <%= render 'feeds', posts: @posts %>
  </div>
</div>