<div class="container">
  <div class="row">
    <%= render 'layouts/tag_list', tag_list: @tag_list %>
  </div>
  <div class="row">
    <%= render 'feeds', posts: @posts %>
  </div>
  <div class="page mt-4 mb-5">
    <%= paginate @posts %>
  </div>
</div>