<div class="container">
  <div class="title">#<%= @tag.tag_name%>に関する投稿</div>
  <div class="tag_list">
    <%= render 'layouts/tag_list', tag_list: @tag_list %>
  </div>
  <div class="tag_posts">
    <%= render 'posts/feeds', posts: @posts %>
  </div>
</div>