/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Raleway&display=swap');

$theme-colors: (
    primary: #9DA897,
    success: #9DA897
);

$md: 991px;
$xs1: 575px;
@mixin md {
  @media (max-width: ($md)) {
    @content;
  }
}
@mixin xs1 {
  @media (max-width: ($xs1)) {
    @content;
  }
}

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', 'Noto Sans JP', sans-serif;
    list-style: none;
    list-style: none;
}

html {
  scroll-behavior: smooth;
}

.link {
    text-decoration: none;
    color: #9da897;
}

a {
    @include md{
        
    font-size: clamp(20px,2vw);
  }
}

body {
    background-color: #f5f5f5;
    height: 100vh;
    @include md{
    font-size: clamp(20px,2vw);
  }
}

main {
    padding-bottom: 5vh;
}

#notice-box {
    z-index: 9999;
}
#notice {
    background: rgba(255, 255, 255, .5);
    padding: 1rem;
    border-radius: 30px;
    margin-top: 2rem;
    display: none;
}

#back {
    position: fixed;
    right: 50px;
    bottom: 50px;
}


footer {
    position: fixed;
    bottom: 0;
    background-color: #e8e8e8;
    height: 5vh;
}

.header {
    border-top: 3px solid #000;
}

.logo {
    margin: 0.5em auto;
    display: block;
}

.header-nav-btn {
    text-align: center;
    height: 6vh;
    line-height: 6vh;
    color: #5f5f5f;
    font-size: calc(25px + 1vw);
}

.header-nav-btn:hover {
    background: #EEE;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(157, 168, 151, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.page-heading {
    background: rgba(151, 168, 166, .3);
    padding: 1rem;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
}

.notification-icon {
    position: absolute;
    padding-left: 25rem;
    padding-top: 0rem;
    color: #5f6527;
  @include md{
    position: absolute;
    padding-left: 2rem;
    padding-top: 10rem;
    color: #5f6527;
  }
}

.tag-list {
    margin: 1rem;
}

.tag-content {
    background: rgba(255, 255, 255, .5);
    border-radius: 20px;
    padding: 1rem;
    margin-right: 1vw;
}