// .reviews-table{
//   border-collapse: collapse;
//   width: 100%;
// }

.review-user {
  width: 15%;
}

.review-score {
  width: 30%;
}

.review-title {
  width: 15%;
}

.review-body {
  width: 25%;
}

.review-time {
  width: 15%;
}

.tbl-r05 td:first-child {
  background: #fbf5f5;
}
// camp_site/show tableレスポンシブ
@media screen and (max-width: 640px) {
  .tbl-r05 {
    width: 80%;
  }
  .tbl-r05 .thead {
    display: none; //thは非表示
  }
  .tbl-r05 tr {
    width: 100%;
  }
  .tbl-r05 td {
    display: block;
    text-align: right;
    width: 100%;
  }
  .tbl-r05 td:first-child {
    background: #F5F5F5;
    font-weight: bold;
    text-align: center;
  }
  .tbl-r05 td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }
}

// camp_site/index tableレスポンシブ
@media screen and (max-width: 640px) {
  .tbl-r04 {
    width: 80%;
  }
  .tbl-r04 .thead {
    display: none; //thは非表示
  }
  .tbl-r04 tr {
    width: 100%;
  }
  .tbl-r04 td {
    display: block;
    text-align: center;
    width: 100%;
  }
  .tbl-r04 td:first-child {
    background: #F5F5F5;
    font-weight: bold;
    text-align: center;
  }
  .tbl-r04 td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }
}