// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.current_user-message {
  background-color: #e8e8e8;
  background: rgba(128, 128, 0, .3);
  padding: 1rem;
  border-radius: 30px;
  display: table;
}

.partner_user-message {
  background-color: #e8e8e8;
  background: rgba(128, 128, 0, .3);
  padding: 1rem;
  border-radius: 30px;
  display: table;
}

nav.pagination {
  display: none;
}