// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notifications-index {
  overflow: scroll;
  height: 80vh;
}

#tab-menu {
  display: flex;
}

#tab-menu li:hover {
	background: rgba(151,168,166,.5);
  transition:all 1s;
}

#tab-menu li:hover .tab{
  max-height: 5rem; /*開いたときの高さを指定*/
}

.wrap {
  width: 100%;
  margin: 0 auto;
}

#tab-menu li {
  list-style-type: none;
  width: 25%;
  transition:all 1s;
}

#tab-menu li a {
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
}

#tab-menu .active {
  background: #97a8a6;
  color: white;
  opacity: 0.8;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}