// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$xxs2: 342px;
$xxs: 400px;
$xxs-min: 401px;
$xs2: 489px;
$xs1: 575px;
$sm2: 720px;
$sm: 767px;
$md: 991px;
$lg: 992px;
$xlg: 1230px;
$xl: 1420px;
$xxl: 2040px;
@mixin xs1 {
  @media (max-width: ($xs1)) {
    @content;
  }
}
@mixin xxs2 {
  @media (max-width: ($xxs2)) {
    @content;
  }
}
@mixin xxs {
  @media (max-width: ($xxs)) {
    @content;
  }
}
@mixin xxs-min {
  @media (min-width: ($xxs-min)) {
    @content;
  }
}
@mixin xs2 {
  @media (max-width: ($xs2)) {
    @content;
  }
}
@mixin sm {
  @media (max-width: ($sm)) {
    @content;
  }
}
@mixin md {
  @media (max-width: ($md)) {
    @content;
  }
}

@mixin lg {
  @media (min-width: ($lg)) {
    @content;
  }
}
@mixin xl {
  @media (max-width: ($xl)) {
    @content;
  }
}

@mixin xl-xlg {
  @media (max-width: ($xl)) and (min-width: ($xlg)){
    @content;
  }
}

@mixin xlg-sm {
  @media (max-width: ($xlg)) and (min-width: ($sm)){
    @content;
  }
}
@mixin sm2-xs1 {
  @media (max-width: ($sm2)) and (min-width: ($xs1)){
    @content;
  }
}
@mixin xs1-xxs-min {
  @media (max-width: ($xs1)) and (min-width: ($xxs-min)){
    @content;
  }
}
@mixin xxl {
  @media (min-width: ($xxl)) {
    @content;
  }
}


.profile {
  background-color: #fff;
}
// post/index
.img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  @include xl-xlg {
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
  @include xlg-sm {
    width: 280px;
    height: 280px;
    object-fit: cover;
  }
  @include sm {
    width: 280px;
    height: 280px;
    object-fit: cover;
  }
  @include xs1 {
    width: 210px;
    height: 210px;
    object-fit: cover;
  }
  @include sm2-xs1 {
    width: 210px;
    height: 210px;
    object-fit: cover;
  }
  @include xs1-xxs-min {
    width: 280px;
    height: 280px;
    object-fit: cover;
  }
  @include xxl{
    width: 600px;
    height: 600px;
    object-fit: cover;
  }
}

.feeds-index {
  overflow: auto;
  height: 80vh;
}

.comment-index {
  overflow: auto;
  height: 50vh;
}

// post/show
.post-show-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  @include md{
    width: 450px;
    height: 450px;
    object-fit: cover;
  }
  @include xs2{
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
  @include xxs{
    width: 290px;
    height: 290px;
    object-fit: cover;
  }
}

.post-user_profile {
  @include xxs-min {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  @include xxs {
    display: flex;
    flex-wrap: wrap;
  }
}

.post-detaile {
  @include lg{
    margin-left: 1vw;
  }
  @include sm {
    margin-left: 10px;
  }
  @include xs1{
    margin-left: 10px;
  }
  @include xxs{
    margin-left: 20px;
  }
}

.post_comment {
  @include sm {
    margin-left: 20px;
  }
  @include xs1{
    margin-left: 20px;
  }
  @include xxs{
    margin-left: 10px;
  }
}

.comment-form_title {
    background: rgba(151, 168, 166, .3);
    padding: 1rem;
    border-radius: 30px;
    display: inline-block;
}