// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$xxs2: 342px;
$xxs: 400px;
$xxs-min: 401px;
$xs2: 489px;
$xs1: 575px;
$sm: 767px;
$md: 991px;
$lg: 992px;
$xlg: 1230px;
$xl: 1420px;
@mixin xs1 {
  @media (max-width: ($xs1)) {
    @content;
  }
}
@mixin xxs2 {
  @media (max-width: ($xxs2)) {
    @content;
  }
}
@mixin xxs {
  @media (max-width: ($xxs)) {
    @content;
  }
}
@mixin xxs-min {
  @media (min-width: ($xxs-min)) {
    @content;
  }
}
@mixin xs2 {
  @media (max-width: ($xs2)) {
    @content;
  }
}
@mixin sm {
  @media (max-width: ($sm)) {
    @content;
  }
}
@mixin md {
  @media (max-width: ($md)) {
    @content;
  }
}

@mixin lg {
  @media (min-width: ($lg)) {
    @content;
  }
}
@mixin xl {
  @media (max-width: ($xl)) {
    @content;
  }
}

@mixin xl-xlg {
  @media (max-width: ($xl)) and (min-width: ($xlg)){
    @content;
  }
}

@mixin xlg-lg {
  @media (max-width: ($xlg)) and (min-width: ($lg)){
    @content;
  }
}

.profile {
  background-color: #fff;
}
// post/index
.img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  @include xl-xlg {
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
  @include xlg-lg {
    width: 280px;
    height: 280px;
    object-fit: cover;
  }
}

.feeds-index {
  overflow: auto;
  height: 80vh;
}

// post/index/タブ
.wrap {
  width: 100%;
  margin: 0 auto;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 25%;
  border: solid;
  border-color: rgba(183, 191, 163, .5);
  border-radius: 8px;
}

#tab-menu li a {
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  border-bottom: none;
}

#tab-menu .active {
  color: #000;
  background-color: rgba(183, 191, 163, .5);
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}

// post/show
.post-show-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  @include md{
    width: 450px;
    height: 450px;
    object-fit: cover;
  }
  @include xs2{
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
  @include xxs{
    width: 290px;
    height: 290px;
    object-fit: cover;
  }
}

.post-user_profile {
  @include xxs-min {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  @include xxs {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
  }
}

.post-detaile {
  @include lg{
    margin-left: 1vw;
  }
  @include sm {
    margin-left: 10px;
  }
  @include xs1{
    margin-left: 40px;
  }
  @include xxs{
    margin-left: 10px;
  }
}

.post_comment {
  @include sm {
    margin-left: 20px;
  }
  @include xs1{
    margin-left: 50px;
  }
  @include xxs{
    margin-left: 40px;
  }
}