// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_header #user_sub .btn_follow {
    width: 134px;
    margin: 18px auto 0 auto;
}


$sm: 768px;

@mixin sm {
  @media (min-width: ($sm)) {
    @content;
  }
}

.user_icon {
    @include sm {
        text-align: right;
    }
}

.users-index {
  overflow: auto;
  height: 70vh;
}