<div class="container">
  <h4 class="page-heading">都道府県一覧</h4>
  <table class="table">
    <% @regions.each do |region| %>
      <tr>
        <td><%= link_to region.name, region_camp_sites_path(region.id) %></td>
      </tr>
    <% end %>
  </table>
  <div class="page-back mt-2 ml-2">
    <%= link_to "<<戻る", regions_path %>
  </div>
</div>