<% unless post.user == current_user %>
  <% if post.favorited_by?(current_user) %>
    <p>
      <%= link_to "", post_favorites_path(post), method: :delete, class: "fas fa-heart" %>
      <%= post.favorites.count %> 
    </p>
    <% else %>
    <p>
      <%= link_to "", post_favorites_path(post), method: :post , class: "far fa-heart" %>
      <%= post.favorites.count %> 
    </p>
  <% end %>
<% end %>